/*
  Media queries I want to use in this project....

  Mobile:
  0 - 599

  Tablet:
  @media screen and (min-width: 600px)

  Laptop:
  @media screen and (min-width: 1000px)

  Desktop:
  @media screen and (min-width: 1120px)
*/

/* customize gnav for artisthub */

body nav.gnav .gnav-brand {
  justify-content: flex-start
}

body nav.gnav .gnav-brand picture img {
  width: auto;
  height: 100%;
}

@media (min-width: 1200px) {
  .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu li,
  .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu ul {
    padding: 0;
  }
  .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu ul li a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

body header.gnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

body header.gnav + main {
  margin-top: 65px;
}

@media screen and (min-width: 600px) {
  main .breadcrumbs {
    padding-left: 18px;
  }
}
@media screen and (min-width: 1440px) {
  main .breadcrumbs {
    padding-left: 20px;
  }
}

/* cusomize typography for artisthub */

p {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 12px;
}

p:empty {
  padding: 0;
}

p.detail-M {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  letter-spacing: 0.72px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
}

h1, h2, h3, h4 {
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
}

h1, h2, h3, h4 {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

p:not(.detail-M) + h1,
p:not(.detail-M) + h2,
p:not(.detail-M) + h3,
p:not(.detail-M) + h4
p:not(.detail-M) + p.detail-M {
  padding-top: var(--section-spacing);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-m);
}

h4 {
  font-size: var(--heading-font-size-s);
}

h5 {
  font-size: var(--heading-font-size-xs);
}

li {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

ul, ol {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 15px 0;
  padding-inline-start: 60px;
}

main > .section > .content:not(:first-child) {
  margin-top: var(--section-spacing);
}

main > .section > .content + .cards {
  margin-top: var(--section-spacing-x-small);
}

main > .section > .cards + .content > p.button-container:first-child {
  justify-content: center;
  text-align: center;
  margin-top: 0;
}

main > .section:not(:empty):not(:first-child) {
  padding-top: var(--section-spacing);
}

main > .section:not(:empty):last-child {
  padding-bottom: var(--section-spacing);
}

main > .section.has-background,
.fragment > .section.has-background {
  padding-bottom: var(--section-spacing);
  padding-top: var(--section-spacing);
}

/* customize articles */

ul, ol {
  padding-inline-start: 2rem;
}

@media (min-width: 900px) {
  main > .section > .content {
    max-width: 700px;
  }
}


