/*
  Media queries I want to use in this project...

  Mobile (default):
  0 - 599

  Tablet:
  @media screen and (min-width: 600px)

  Laptop:
  @media screen and (min-width: 1000px)

  Desktop:
  @media screen and (min-width: 1200px)
*/

/* customize articles for artisthub */

@media (min-width: 1000px) {
  main > .section > .content {
    max-width: 700px;
  }
}

/* cusomize typography for artisthub */

main h1, main h2, main h3, main h4 {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

main h1 {
  padding-top: var(--block-spacing-s);
}

main h2 {
  font-size: var(--type-heading-xl-size);
  line-height: var(--type-heading-xl-lh);
}

main p:not(.icon-area) {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 12px;
}

main p:empty {
  padding: 0;
}

main p.detail-M {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  letter-spacing: 0.72px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
}

main p.detail-M + h1,
main p.detail-M + h2,
main p.detail-M + h3,
main p.detail-M + h4 {
  padding-top: 8px;
}

main p:not(.detail-M):not(.icon-area) + h1,
main p:not(.detail-M):not(.icon-area) + h2,
main p:not(.detail-M):not(.icon-area) + h3,
main p:not(.detail-M):not(.icon-area) + h4
main p:not(.detail-M):not(.icon-area) + p.detail-M {
  padding-top: var(--block-spacing-m);
}

main li {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

main ul, main ol {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 15px 0;
  padding-inline-start: 2rem;
}
