main .breadcrumbs {
    padding: 5px 0 4px 0;
    margin: var(--section-spacing) auto;
    max-width: 1440px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
}

main .breadcrumbs div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
}

main .breadcrumbs div:last-child {
    min-width: 0;
    text-overflow: ellipsis;
}

main .breadcrumbs .icon {
    min-height: 40px;
}

main .breadcrumbs p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: default;
}

main .breadcrumbs p:first-child {
    margin-left: 4px;
}

main .breadcrumbs p,
main .breadcrumbs a {
    color: #707070;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    box-sizing: border-box;
    text-decoration: none;
}

main .breadcrumbs a:hover {
    text-decoration: underline;
}

main .breadcrumbs > div > div:not(:first-child):before {
    content: '/';
    color: #707070;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    display: inline-block;
    margin-right: 6px;
}
