main .breadcrumbs {
    padding: 5px 0 4px 10px;
    margin: 0 auto;
    max-width: none;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
}

@media screen and (min-width: 1440px) {
  main .breadcrumbs {
    padding: 5px 0 4px 36px;
    max-width: 1440px
  }
}

main .breadcrumbs ul {
  max-width: 99.9vh;
  overflow: hidden;
}

main .breadcrumbs ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    white-space: nowrap;
    list-style-type: none;
}

main .breadcrumbs .icon {
    min-height: 40px;
}

main .breadcrumbs li {
    white-space: nowrap;
    margin: 0;
    padding: 10px 0;
    cursor: default;
}

main .breadcrumbs li:first-child {
    margin-left: 4px;
}

main .breadcrumbs li,
main .breadcrumbs a {
    color: #707070;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    box-sizing: border-box;
    text-decoration: none;
}

main .breadcrumbs a:hover {
    text-decoration: underline;
}

main .breadcrumbs ul li:not(:first-child):before {
    content: '/';
    color: #707070;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
  main .breadcrumbs li,
  main .breadcrumbs a {
      color: #707070;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.4;
      box-sizing: border-box;
      text-decoration: none;
  }
}
