:root {
  /* Colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --link-color-dark: #5EAAF7;
  --link-hover-color-dark: #5EAAF7;
  --text-color: #2c2c2c;
  --color-brand-title: #000B1D;
  --color-primary: #242424;
  --color-primary-hover: #090909;
  --color-primary-down: #000;
  --color-secondary: #E8E8E8;
  --color-secondary-hover: #d4d4d4;
  --color-secondary-down: #cdcdcd;
  --color-accent: #1473E6;
  --color-accent-hover: #186dd4;
  --color-accent-down: #1d62b6;
  --color-accent-faded: #486EC2;
  --color-accent-light: #DEDEF9;
  --color-premium: #EBCF2D;

  /* transparent button */
  --color-transparent-button-border: #4B4B4B;
  --color-transparent-button-border-hover: #3d3d3d;
  --color-transparent-button-border-down: #363636;
  --color-transparent-button-bg: transparent;
  --color-transparent-button-bg-hover: rgba(0,0,0,0.1);
  --color-transparent-button-bg-down: rgba(0,0,0,0.2);

  /* Spacing between sections */
  --block-spacing-xs: 40px;
  --block-spacing-s: 64px;
  --block-spacing-m: 80px;
  --block-spacing-l: 96px;
  --block-spacing-xl: 120px;
}

@media screen and (min-width: 1000px) {
  :root {
    --block-spacing-xs: 40px;
    --block-spacing-s: 64px;
    --block-spacing-m: 80px;
    --block-spacing-l: 96px;
    --block-spacing-xl: 120px;
  }
}

main img,
main video {
  max-width: 100%;
}

.milo-video {
  margin: 0 0 12px;
}

/* buttons */

main a.button:any-link {
  text-decoration: none;
  border-radius: 40px;
  padding: 4px 1.2em 5px 1.2em;
  text-align: center;
  font-size: var(--type-body-xs-size);
  line-height: var(--type-body-xs-lh);
  font-style: normal; 
  font-weight: 600;
  line-height: var(--body-line-height);
  cursor: pointer;
  transition: background-color .3s, color .3s, border .3s;
  border-width: 2px;
  border-style: solid;
  margin: 10px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  min-width: 100px;
}

main p.button-container {
  display: flex;
  margin: 10px 0;
  padding-bottom: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

main p.button-container a.button {
  margin: 0 0 12px 0;
}

main p.button-container > a.button:not(:last-child),
main p.button-container > strong:not(:last-child),
main p.button-container > em:not(:last-child) {
  margin-right: 16px;
}

main a.button.xlarge:any-link {
  padding: 13px 1.5em 13px 1.5em;
  font-size: var(--type-body-m-size);
  line-height: var(--type-body-m-lh);
}

main a.button.large:any-link {
  padding: 10px 1.5em 10px 1.5em;
}

main a.button.small:any-link {
  padding: 4px 1em 4px 1em;
  border-radius: 15px;
  font-size: var(--type-body-xs-size);
  line-height: var(--type-body-xs-lh);
}

main a.button:any-link,
main a.button.primary:any-link {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

main a.button:any-link:hover,
main a.button.primary:any-link:hover {
  background-color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}

main a.button:any-link:active,
main a.button.primary:any-link:active {
  background-color: var(--color-primary-down);
  border-color: var(--color-primary-down);
}

main a.button.secondary:any-link {
  color: var(--color-black);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

main a.button.secondary:any-link:hover {
  background-color: var(--color-secondary-hover);
  border-color: var(--color-secondary-hover);
}

main a.button.secondary:any-link:active {
  background-color: var(--color-secondary-down);
  border-color: var(--color-secondary-down);
}

main a.button.accent:any-link {
  color: var(--color-white);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

main a.button.accent:any-link:hover {
  background-color: var(--color-accent-hover);
  border-color: var(--color-accent-hover);
}

main a.button.accent:any-link:active {
  background-color: var(--color-accent-down);
  border-color: var(--color-accent-down);
}

main a.button.transparent:any-link {
  color: var(--color-transparent-button-border);
  border-color: var(--color-transparent-button-border);
  background-color: var(--color-transparent-button-bg);
}

main a.button.transparent:any-link:hover {
  color: var(--color-transparent-button-border-hover);
  border-color: var(--color-transparent-button-border-hover);
  background-color: var(--color-transparent-button-bg-hover);
}

main a.button.transparent:any-link:active {
  color: var(--color-transparent-button-border-down);
  border-color: var(--color-transparent-button-border-down);
  background-color: var(--color-transparent-button-bg-down);
}

main a.button > svg {
  float: left;
  display: inline;
  width: 20px;
  height: 20px;
  margin: 8px 8px 8px 0;
  fill: currentColor;
  color: currentColor;
}

main a.button > svg > use {
  fill: currentColor;
  color: currentColor;
}

main .center .content p.button-container,
main .section .center p.button-container {
  justify-content: center;
}

/* customize gnav for stock */
body header nav.gnav .gnav-brand {
  color: #000;
}

@media (min-width: 1200px) {
  nav.gnav .gnav-navitem:not(.is-open) > a.active-page {
    border-bottom: 2px solid #000;
    padding-top: 2px;
  }
}

/* prevent spacing from <picture> tag */
main picture {
  vertical-align: bottom;
  display: inline;
}
main picture img {
  display: block;
}

/* customize section spacings for stock */

main > .section > .content + .page-feed {
  margin-top: var(--block-spacing-xs);
}

main > .section > .content > *:first-child {
  margin-top: var(--block-spacing-m);
}

main > .section.has-background > .content:first-child > *:first-child {
  margin-top: 0;
}

main > .section:not(:empty):not(:first-child).has-background + .section:not(.has-background) {
  padding-top: 0;
}

main > .section:not(:empty):last-child {
  padding-bottom: var(--block-spacing-m);
}

main > .section.has-background,
.fragment > .section.has-background {
  padding-bottom: var(--block-spacing-m);
  padding-top: var(--block-spacing-m);
}

main > .section:not(:empty):not(:first-child) > .content:first-child {
  padding-top: 0;
}

main > .section > .content + .page-feed {
  margin-top: var(--block-spacing-xs);
}

main > .section > .page-feed + .content > p.button-container:first-child {
  justify-content: center;
  text-align: center;
  margin-top: var(--block-spacing-xs);
}

main > .section:not(:empty):last-child {
  padding-bottom: var(--block-spacing-m);
}

main > .section.has-background,
.fragment > .section.has-background {
  padding-bottom: var(--block-spacing-m);
  padding-top: var(--block-spacing-m);
}

main > .section.center > .content > p > picture > img,
main > .section.center > .content > picture > img {
  margin-left: auto;
  margin-right: auto;
}

main > .section:not(.has-background) > .content:last-child {
  padding-bottom: var(--block-spacing-m);
}

main > .section > .content + .image-rows {
  padding-top: var(--block-spacing-m);
}

main .section:first-child > .breadcrumbs + .content h1:first-child {
  padding-top: 8px;
}

main .section:first-child > .breadcrumbs + .content + .share {
  padding-top: 16px;
  padding-bottom: 32px;
}

/* temporary hide for now */
footer .footer-region,
footer .footer-social {
  display: none;
}
