main .featured {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--grid-container-width);
}

main .featured.small {
  max-width: 1000px;
}

main .featured.center {
  text-align: center;
}

main .featured.right {
  text-align: right;
}

main .featured .featured-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding-bottom: var(--section-spacing-large);
}

main .featured .featured-row:last-child {
  padding-bottom: 0;
}

main .featured .column {
  width: 40%;
  min-width: 40%;
  max-width: 40%;
}

main .featured .column-picture {
  width: 60%;
  min-width: 60%;
  max-width: 60%;
}

main .featured .column:not(.column-picture) {
  padding-left: 56px;
  padding-right: 56px;
}

main .featured.small .featured-row {
  padding-bottom: var(--section-spacing-small);
}

main .featured.small .featured-row:last-child {
  padding-bottom: 0;
}

main .featured.small .column {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  box-sizing: border-box;
  overflow: hidden;
}

main .featured.small .column-picture {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
}

main .featured.small .column:not(.column-picture) {
  padding-left: 40px;
  padding-right: 40px;
}

main .featured .column:first-child:not(.column-picture),
main .featured.small .column:first-child:not(.column-picture) {
  padding-left: 0;
}

main .featured .column:last-child:not(.column-picture),
main .featured.small .column:last-child:not(.column-picture) {
  padding-right: 0;
}

main .featured h2 {
  font-size: var(--heading-font-size-m);
}

main .featured h3 {
  font-size: var(--heading-font-size-s);
}

main .featured.small h2 {
  font-size: var(--heading-font-size-s);
}

main .featured.small h3 {
  font-size: var(--heading-font-size-xs);
}

main .featured p {
  font-size: var(--body-font-size-s);
  color: #4B4B4B;
}

main .featured span.detail {    
  font-size: var(--detail-font-size-s);
}

main .featured.small span.detail {    
  font-size: var(--detail-font-size-xs);
}

main .featured .column-picture {
  overflow: hidden;
  display: block;
  line-height: 0;
}

main .featured .column-picture video {
  width: 100%;
  transform: translateX(-0.2%);
  min-width: 100.4%; /* ^ Fix for black line on the edges of videos */
  height: auto;
}

main .featured .column-picture img {
  width: 100%;
  height: auto;
  transition: filter 0.3s, transform 0.3s;
}

main .featured .column-picture a {
  display: block;
  line-height: 0;
}

main .dark-theme .featured p {
  color: var(--color-white);
}

@media screen and (min-width: 800px) {
  /* top variant */

  main .featured.top .featured-row {
    align-items: flex-start;
  }
}

@media screen and (max-width: 799px) {
  main .featured .column,
  main .featured.small .column {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  main .featured .featured-row {
    flex-direction: column;
  }

  main .featured .featured-row .column-picture {
    order: 2;
    margin-top: 16px;
  }

  main .featured .featured-row .column {
    padding: 0;
    margin-bottom: 16px;
  }

  main .featured.small .featured-row .column {
    padding: 0;
  }

  main .featured.small h2 {
    font-size: var(--heading-font-size-m);
  }

  main .featured.small h3 {
    font-size: var(--heading-font-size-s);
  }
}

main .cards + .featured {
  margin-top: var(--section-spacing-large);
  margin-bottom: var(--section-spacing-large);
}
