
main .sitemap {
  max-width: 1440px;
  padding: 0 8px 0 24px;
  box-sizing: border-box;
  margin: 0 auto;
}

main .sitemap ul,
main .sitemap li,
main .sitemap p,
main .sitemap div {
  list-style: none;
  padding: 0;
  margin: 0;
}

main .sitemap {
  margin: 0 auto;
}

main .sitemap p > ul,
main .sitemap div > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 24px;
}

main .sitemap p > ul > li,
main .sitemap div > ul > li {
  padding: 0;
  padding-bottom: 30px;
  flex: 1 1 0px;
  min-width: 160px;
  margin-right: 40px;
}

main .sitemap p > ul > li:last-child,
main .sitemap div > ul > li:last-child {
  margin-right: 0;
}

main .sitemap p > ul li,
main .sitemap div > ul li {
  padding: 8px 0;
}

main .sitemap p > ul > li,
main .sitemap div > ul > li,
main .sitemap p > ul > li > a,
main .sitemap div > ul > li > a {
  text-transform: uppercase;
  color: #565656;
  font-weight: 700;
  font-size: 16px;
  box-sizing: border-box;
  display: block;
}

main .sitemap p > ul > li > ul > li,
main .sitemap div > ul > li > ul > li,
main .sitemap p > ul > li > ul > li > a,
main .sitemap div > ul > li > ul > li > a {
  color: #a1a1a1;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
  display: block;
  text-transform: none;
}

main .sitemap p > ul > li > ul,
main .sitemap div > ul > li > ul {
  padding-top: 8px;
}

main .sitemap p > ul > li a:hover,
main .sitemap div > ul > li a:hover {
  color: #565656;
}

main .sitemap p > ul > li > a:hover,
main .sitemap div > ul > li > a:hover {
  text-decoration: underline;
}

main .sitemap p > ul > li,
main .sitemap div > ul > li {
  min-width: 120px;
  max-width: 50%;
}

@media screen and (min-width: 600px) {
  main .sitemap p > ul > li,
  main .sitemap div > ul > li {
    min-width: 27%;
    max-width: unset;
    margin: 0;
  }
  main .sitemap {
    max-width: 900px;
  }
}

@media screen and (min-width: 1000px) {
  main .sitemap p > ul,
  main .sitemap div > ul {
    gap: 40px;
  }
  
  main .sitemap {
    max-width: 900px;
    padding-left: 80px;
  }

  main .sitemap p > ul > li,
  main .sitemap div > ul > li {
    min-width: 200px;
    max-width: 20%;
  }
}

@media screen and (min-width: 1120px) {
  main .sitemap {
    max-width: 1440px;
    padding-left: 50px;
  }
  
  main .sitemap p > ul > li,
  main .sitemap div > ul > li {
    min-width: 120px;
    max-width: 15%;
  }
}
