main .anchor-section {
  display: none;
}

main div.section.anchor-section-toggle {
  display: none;
}

main div.section.anchor-section-toggle:first-of-type {
  display: block;
}

main div.section.anchor-section-toggle--active {
  display: block;
}

main div.section.anchor-section-toggle--hidden {
  display: none;
}
